<div class="login-clean">
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2 class="sr-only">Login Form</h2>
        <div class="form-group">
            <%= f.email_field :email, autofocus: true, class:"form-control",placeholder: "Email" %>
        </div>
        <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class:"form-control",placeholder: "password" %>
        </div>
        <div class="form-group">
            <%= f.submit "Log in", class:"btn btn-info btn-block", style: "background:transparent"%>
        </div><a href="#" class="forgot"><%= render "devise/shared/links" %></a>
        <% end %>
</div>


