

<div>
    <nav class="navbar navbar-default navigation-clean-button">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" style="color:white" href="/events">Fun Mixer</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <% if current_user %>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    
                    <li role="presentation"> <%= link_to "Log out" ,destroy_user_session_path, method: :delete, style: "color:white" %></li>
                    <li role="presentation"><%= link_to "Home" ,root_path,style: "color:white" %></li>
                    <li><a href="/users/<%=current_user.id%>" style="color:white"><%=current_user.email%></a><li>

                    <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">First Item</a></li>
                            <li role="presentation"><a href="#">Second Item</a></li>
                            <li role="presentation"><a href="#">Third Item</a></li>
                        </ul>
                    </li> -->
                </ul>
                <% else %>
                <p class="navbar-text navbar-right actions"><%= link_to "Login" ,new_user_session_path,style: "color:white" %> <%= link_to "Register",  new_user_registration_path,style: "color:white" %></p>
                <% end %>
            </div>
        </div>
    </nav>
</div>
